@import url(http://fonts.googleapis.com/css?family=Montserrat);
/* COLORS */
/* global container */
/* nav */
/* Ticket view */
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: rgba(34, 34, 34, 0.8);
  overflow: hidden;
}

ul {
  text-decoration: none;
}

.main__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: auto;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
}

.header {
  display: -ms-flexbox;
  display: flex;
  background-color: #0a0a0a;
  -ms-flex: 1;
      flex: 1;
  max-height: 50px;
}

.header .header__nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.header .header__nav .header__nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: row;
      flex-direction: row;
  list-style-type: none;
  padding: 10px;
}

.header .header__nav .header__nav__list .list__item {
  -ms-flex: 1;
      flex: 1;
  text-align: center;
  transition: 0.3s;
}

.header .header__nav .header__nav__list .list__item:hover {
  border: 1px solid white;
  border-radius: 10px;
}

.header .header__nav .header__nav__list .list__item .list__item__link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login,
.signup {
  padding: 30px;
}

.login form,
.signup form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.login form input, .login form select,
.signup form input,
.signup form select {
  min-width: 250px;
  outline: none;
  padding: 5px;
  margin: 2px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}

.login form input[type="submit"],
.signup form input[type="submit"] {
  border-radius: 5px;
  border: none;
}

.login form .signup__form__footer,
.signup form .signup__form__footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
}

.login form .signup__form__footer a,
.signup form .signup__form__footer a {
  text-decoration: none;
  color: #71a9da;
  font-weight: bold;
}

.login h4,
.signup h4 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.dashboard {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  max-width: 1000px;
  width: 100%;
  padding: 30px;
  -ms-flex-direction: column;
      flex-direction: column;
}

.dashboard__table {
  border-collapse: collapse;
  width: 100%;
  -ms-flex: 1;
      flex: 1;
}

.dashboard__table__head tr th {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.dashboard__table__body {
  max-height: 300px;
  overflow-y: auto;
}

.dashboard__table__body tr td {
  padding: 10px;
  text-align: center;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.ticket {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  width: 100%;
  max-height: 500px;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 10px;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}

.ticket__info {
  max-height: 250px;
  overflow: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

@media screen and (max-width: 500px) {
  .ticket__info {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.ticket__info__col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ticket__info__col__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 5px;
}

.ticket__info__col__item__text {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ticket__info__col__item__text h5 {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
  margin: 5px 10px;
}

.ticket__info__col__item__text p {
  -ms-flex: 1;
      flex: 1;
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0.8rem;
}

.ticket__close_button button {
  padding: 5px 10px;
  background: aliceblue;
  border: 1px solid;
  border-radius: 10px;
}

.ticket__messages {
  border: 1px solid black;
  height: 300px;
  margin-top: 10px;
  overflow-y: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.ticket__messages__item p {
  word-break: break-word;
  display: -ms-flexbox;
  display: flex;
  min-height: 20px;
  margin: 2px 5px;
  padding: 5px 15px;
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  min-width: 20px;
  min-height: 30px;
  -ms-flex-align: center;
      align-items: center;
  background-color: rgba(49, 125, 148, 0.5);
}

.ticket__messages__item .owner {
  margin-left: auto;
  background-color: #71a9da;
}

.ticket__messages__item__namespan {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: auto;
  font-weight: bold;
  font-size: 0.7rem;
  opacity: 0.5;
  word-break: keep-all;
  position: relative;
  bottom: 0;
  right: 0;
}

.ticket #message_form {
  margin: 5px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  width: 100%;
}

.ticket #message_form textarea {
  border-radius: 5px;
  padding: 5px;
  -ms-flex: 1;
      flex: 1;
}

.ticket #message_form button[type="submit"] {
  padding: 2px 5px;
}

.ticket__creation {
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.ticket__creation #ticket__creation__form {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.ticket__creation #ticket__creation__form textarea {
  height: 150px;
}
