
.ticket{
	display: flex;
	flex: 1;
	width:100%;
	
	flex-direction:column;
	
    padding: 50px;
   
	width: 100%;
	
	align-self:center;
	&__info{
		display: flex;
		flex-direction:row;
		@media screen and (max-width: $break-small) {
		  flex-direction:column;
		  }
		&__col{
			display: flex;
			flex:1;
			flex-direction:column;
			justify-content: space-around;
			&__item{
				display: flex;
				flex-direction: row;
				padding: 5px;
				&__text{
					flex: 1;
					display: flex;
					flex-direction: row;
					justify-content: space-around;

					h5{
						flex: 1;
						align-self: flex-start;
						text-align:left;
					}
					p{
						flex: 1;
						text-align: left;
						
					}
				}
			}		
			
		}
	}
	&__messages{
		border: 1px solid black;
		height: 350px;

		margin-top: 50px;
		overflow-y: auto;

		display: flex;
		flex-direction:column;
		&__item{
			
			
			p{
				word-break: break-word;
				display: flex;
				min-height: 20px;
				margin: 2px 5px;
				padding: 5px 15px;
				max-width: 300px;
				border:1px solid rgba(black,0.3);
				border-radius: 10px;
				min-width: 20px;
				min-height: 30px;
				align-items:center;

				background-color:$message_color;
			}
			.owner{
				margin-left: auto;
				background-color:$owner_message_color;
				
			}
			&__namespan{
			    align-self: flex-end;
    			margin-left: auto;
    			font-weight:bold;
    			font-size:0.7rem;
    			opacity:0.5;
    			word-break: keep-all;
    			position: relative;
    			bottom:0;
    			right: 0;
			}
		}
	}
		
	#message_form{
		display: flex;
		flex:1;
		width: 100%;
		textarea{
			flex: 1;
		}
		button[type="submit"]{
			padding: 2px 5px;
		}
	}

}
