$break-small: 500px;

/* COLORS */

/* global container */

$main_container_color:rgba(#222222,0.8);;
/* nav */
$header_color:#0a0a0a;
/* Ticket view */
$owner_message_color:#71a9da;
$message_color:rgba(#317d94,0.5);