
<div class="ticket">
	<div class="ticket__info">
		<div class="ticket__info__col">
			<div class="ticket__info__col__item">
				<div class="ticket__info__col__item__text">
					<h5>Ticket ID : </h5>
					<p>{{ticket.ID}}</p>
				</div>
			</div>
			<div class="ticket__info__col__item">
				<div class="ticket__info__col__item__text">
				<h5>Ticket Status: </h5>
				<p>{{ticket.STATUS}}</p>
				</div>
			</div>
			<div class="ticket__info__col__item">
				<div class="ticket__info__col__item__text">
					<h5>Ticket Start Date: </h5>
					<p>{{ticket.DATE}}</p>
				</div>
			</div>
			<div class="ticket__info__col__item">
				<div class="ticket__info__col__item__text inquiry">
					<h5>Inquiry: </h5>
					<p>{{ticket.INQUIRY}}</p>
				</div>
			</div>
			
			
			
		</div>
		<div class="ticket__info__col">
			
			<div class="ticket__info__col__item">
				<div class="ticket__info__col__item__text">
					<h5>Owner Email: </h5>
					<p>{{ticket.EMAIL}}</p>
				</div>
			</div>
			<div class="ticket__info__col__item">
				<div class="ticket__info__col__item__text">
					<h5>Owner ID: </h5>
					<p>{{ticket.USER_ID}}</p>
				</div>
			</div>
			<div class="ticket__info__col__item">
				<div class="ticket__info__col__item__text">
					<h5>Username:</h5>
					<p>{{ticket.USERNAME}}</p>
				</div>
			</div>
		</div>

	</div>

	<div class="ticket__close_button">
		<button ng-click="closeTicket()">Close Ticket</button>
	</div>
		
<!-- ng-class="{'owner': session.user_id == message.USER_ID }" -->
	<div class="ticket__messages">
		
		<div class="ticket__messages__item" ng-repeat ="message in messages">
			<p ng-class="{owner : user.id == message.USER_ID}">{{message.MESSAGE}}<span class="ticket__messages__item__namespan">{{message.USERNAME}}</span></p>
		</div>
	</div>




	<form id ="message_form">
		<textarea  placeholder="please write your message in here " name="message"></textarea>
		<button type="submit" ng-disabled="ticket.STATUS=='CLOSED'">send message</button>	
	</form>

</div>